<section class="main" [ngClass]="{ hidden: noTodosClass$ | async }">
  <input
    type="checkBox"
    id="toggle-all"
    class="toggle-all"
    [checked]="isAllTodoSelected$ | async"
    (change)="toggleAllTodos($event)"
  />
  <label for="toggle-all">Mark all as Done</label>
  <ul class="todo-list">
    <app-todo-logic
      *ngFor="let todo of visibleTodos$ | async"
      [sendTodo]="todo"
      [isEditing]="editingId === todo.id"
      (sendEditingId)="setEditingId($event)"
    ></app-todo-logic>
  </ul>
</section>
