<li [ngClass]="{ editing: isEditingProp }">
  <div class="view">
    <input
      type="checkBox"
      class="toggle"
      [checked]="todoProp.isCompleted"
      (change)="toggleTodo()"
    />
    <label (dblclick)="editTodoItem()">{{ todoProp.text }}</label>
    <button class="destroy" (click)="removeTodo()"></button>
  </div>
  <ng-container *ngIf="isEditingProp">
    <input
      type="text"
      class="edit"
      #textInput
      [value]="editingText"
      (keyup)="changeText($event)"
      (keyup.enter)="changeTodo()"
    />
  </ng-container>
</li>
